@media only screen and (max-width: 768px) {
	#content .container-fluid{
		padding-left:0.5rem !important;
		padding-right:0.5rem !important;
	}
	
	#overlayloading {
		padding-top:50% !important;
	}
	
}

#overlayloading {
  display:none;
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 15%;
  opacity: .80;
}

#toastContainer {
	z-index: 9999999;
	margin-top:70px !important;
}

.toast{
	max-width:400px !important;
	width:400px;
}