@media only screen and (max-width: 768px) {
	#content .container-fluid{
		padding-left:0.5rem !important;
		padding-right:0.5rem !important;
	}
	
	#toastContainer{
		top:70% !important;
		right:0 !important;
	}
}


#toastContainer {
	z-index: 9999999;
	margin-top:70px !important;
}
