<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration> <!-- to remove the "No grammar constraints (DTD or XML Schema) referenced in the document" warning  -->
<Configuration status="warn" packages="com.microsoft.applicationinsights.log4j.v2">

<!-- Development .194 -->
    <Appenders>
        <RollingFile name="file-log" fileName="/MasterPis/Portal/MSPortal.log"
                     filePattern="/MasterPis/Portal/MSPortal-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p] (%c:%L) %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        
       	  <RollingFile name="OP-log" fileName="/MasterPis/Portal/Optaplanner.log"
                     filePattern="/MasterPis/Portal/Optaplanner-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p] (%c:%L) %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        
         <ApplicationInsightsAppender name="aiAppender" instrumentationKey="[APPLICATION_INSIGHTS_KEY]" />
    </Appenders>
    
    <Loggers>
        <Logger name="com.ms" level="all" additivity="false">
        	<AppenderRef ref="file-log"/>
        </Logger>
        <Logger name="org.hibernate.SQL" level="all" additivity="false">
        	<AppenderRef ref="file-log"/>
        </Logger>
        <logger level="trace" name="com.ms">
        	<AppenderRef ref="aiAppender"/>
        </logger>
        <Logger name="org.optaplanner" level="warn">
        	<AppenderRef ref="OP-log"/>
        </Logger>
        
        <Root level="warn">
        	<AppenderRef ref="file-log"/>
        </Root>
    </Loggers>
</Configuration>
